<div ng-include="'components/navbar/navbar.html'" class="ng-cloak"></div>
<div class="container">
    <ul>
        <li ng-repeat="person in people">
            {{person.fname}}
        </li>
    </ul>
</div>
