<!--
<div class="col-md-12">
    {{flightType}}
    <br> {{selectedAirportDep}}
    <br> {{selectedAirportRet}}
    <br> {{depDate}}
    <br> {{arrDate}}
    <br> {{class}}
    <br> {{adults}}
    <br> {{children}}
    <br>
    <br> {{results}}
</div>
-->

<div class="container">
    <form>
        <h1>Flight Options</h1>
        <div class="well">
            <p>Select a flight for your outbound journey</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th></th>
                        <th>Flight</th>
                        <th>From/To</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>

                <tbody ng-repeat="journey in results">

                    <tr>
                        <td rowspan="4">
                            <input type="radio" ng-model="selectedOutboundFlight" name="outbound" ng-value="{{journey.id}}" checked>
                        </td>

                        <tr ng-repeat="transfer in journey.transfers">
                            <td><img src="{{transfer.logo}}" width="90" height="30">
                            </td>
                            <td>
                                <span>
                                {{transfer.flight[0].ref}}
                            </span>
                                <br>
                                <span>
                                {{transfer.flight[0].class}}
                            </span>
                            </td>
                            <td>
                                <span>
                                {{transfer.from}}
                            </span>
                                <br>
                                <span>
                                {{transfer.to}}
                            </span>
                            </td>
                            <td>{{transfer.date}}</td>
                            <td>
                                <span>
                                {{transfer.time[0].dep}}
                            </span>
                                <br>
                                <span>
                                {{transfer.time[0].arr}}
                            </span>
                            </td>
                        </tr>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="results-buttons">
                    <div class="btn-group" aria-label="...">
                        <button type="button" class="btn btn-primary">Previous Day</button>
                    </div>
                    <div class="btn-group" aria-label="...">
                        <button type="button" class="btn btn-primary">Next Day</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="well">
            <p>Select a flight for your inbound journey</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th></th>
                        <th>Flight</th>
                        <th>From/To</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>

                <tbody ng-repeat="journey in results">

                    <tr>
                        <td rowspan="4">
                            <input type="radio" ng-model="selectedInboundFlight" name="inbound" value="{{journey.id}}">
                        </td>

                        <tr ng-repeat="transfer in journey.transfers">
                            <td><img src="{{transfer.logo}}" width="90" height="30">
                            </td>
                            <td>
                                <span>
                                {{transfer.flight[0].ref}}
                            </span>
                                <br>
                                <span>
                                {{transfer.flight[0].class}}
                            </span>
                            </td>
                            <td>
                                <span>
                                {{transfer.from}}
                            </span>
                                <br>
                                <span>
                                {{transfer.to}}
                            </span>
                            </td>
                            <td>{{transfer.date}}</td>
                            <td>
                                <span>
                                {{transfer.time[0].dep}}
                            </span>
                                <br>
                                <span>
                                {{transfer.time[0].arr}}
                            </span>
                            </td>
                        </tr>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="results-buttons">
                    <div class="btn-group" aria-label="...">
                        <button type="button" class="btn btn-primary">Previous Day</button>
                    </div>
                    <div class="btn-group" aria-label="...">
                        <button type="button" class="btn btn-primary">Next Day</button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="well">
            <div class="row">
                <div class="results-buttons">
                    <div class="btn-group" aria-label="...">
                        <a href="/select_flights">
                            <button type="button" class="btn btn-primary">New search</button>
                        </a>
                    </div>
                    <div class="btn-group" aria-label="...">
                        <a href="/price"><button type="button" class="btn btn-primary">Next</button></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>