<div ng-include="'components/navbar/navbar.html'"></div>

<div class="containter-fluid">
    
  <form name="form" novalidate>

    <div class="row">
      <div class="col-md-6">

        <div class="well carousel-search hidden-sm">


          <!--Journey Type-->
          <div ng-include src="'app/modular_search/modular_search.templates/journeyType/journeyType.template.html'"></div>

          <div class="row">
            <!--Submit Button-->
            <div class="col-md-2 pull-right">
              <div class="form-group">
                <a ui-sref="results({flightType: flightType, from: selectedAirportDep.iata, to: selectedAirportRet.iata, depDate: depDate, arrDate: arrDate, class: class, adults: selectedAdult, children: children, infants: infants})">
                  <button type="button" ng-disabled="form.$invalid" class="btn btn-danger" style="width:100%;" ng-click="delete()">Search</button>
                  <!--                                    -->
                </a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </form>
</div>
