<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="main">Home</a></li>
          <li ui-sref-active="active"><a ui-sref="selectFlights">Select Flights</a></li>
          <li ui-sref-active="active"><a ui-sref="modular_search">Modular Search</a></li>
          <li ui-sref-active="active"><a ui-sref="spinnerTest">Spinner Test</a></li>
<!--
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ui-sref="{{item.link}}">{{item.title}}</a>
        </li>
-->
      </ul>
    </div>
  </div>
</div>
