<div ng-include="'components/navbar/navbar.html'"></div>
<div class="containter-fluid">

    <form name="form" novalidate>

        <div class="row">
            <div class="col-md-6">

                <div class="well carousel-search hidden-sm">

                    <div class="row">

                        <div class="form-group">

                            <!--                            One way Radio-->
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input type="radio" value="one way" ng-model="flightType">One way</label>

                                <!--                                Return Radio-->
                                <label class="radio-inline">
                                    <input type="radio" value="return" checked="checked" ng-model="flightType">Return</label>
                            </div>
                        </div>

                    </div>

                    <!--                    Departing Airport-->
                    <div class="form-group">
                        <select class="form-control" name="from" ng-model="selectedAirportDep" ng-options="(itm.city + ', ' + itm.country + ' - ' + itm.iata) for itm in airports" required>
                            <option disabled value="" ng-selected="selected">{{searchViewConfig.searchViewConfigText.outboundAirportText}}:</option>
                        </select>
                    </div>

                    <!--                    Arrival Airport-->
                    <div class="form-group">
                        <select class="form-control" name="to" ng-model="selectedAirportRet" ng-options="(itm.city + ', ' + itm.country + ' - ' + itm.iata) for itm in airports" required>
                            <option disabled value="" ng-selected="selected">To:</option>
                        </select>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!--                            Departing Date-->
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="depDate" is-open="calendar.opened.dep" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Departing" ng-change="validateDate()" required/>
                                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="calendar.open($event, 'dep', depDate)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <p class="input-group">

                                <!--                                Return Date-->
                                <input id="return_date" ng-disabled="disableDate('one way')" type="text" class="form-control" datepicker-popup="{{calendar.dateFormat}}" ng-model="arrDate" is-open="calendar.opened.win" datepicker-options="calendar.dateOptions" close-text="Close" placeholder="Returning" ng-change="validateDate()" required/>
                                <span class="input-group-btn">
            <button type="button" ng-disabled="disableDate('one way')" class="btn btn-default" ng-click="calendar.open($event, 'win', arrDate)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                            </p>
                            <span class="error_text" ng-model="returnDateError">{{returnDateError}}</span>
                        </div>
                        
                    </div>


                    <div class="row">

                        <!--                        Class-->
                        <div class="col-md-3">
                            <label id="class_label">Class</label>
                            <select class="form-control" ng-model="class">
                                <option>Economy</option>
                                <option>First</option>
                                <option>Executive</option>
                            </select>
                        </div>

                        <!--                        Adults-->
<!--                        <passenger-combo label="Adult (12+)" ng-model="selectedAdult" items="adults" populate-passenger-combos="populatePassengerCombos()"></passenger-combo>-->
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Adults (12+)</label>
                                <select class="form-control" ng-model="selectedAdult" ng-options="adult for adult in adults" ng-change="populatePassengerCombos()">
                                </select>
                            </div>
                        </div>

                        <!--                        Children-->
<!--                        <passenger-combo label="Children (2-11)" ng-model="selectedChild" items="children"></passenger-combo>-->
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Children (2-11)</label>
                                <select class="form-control" ng-model="selectedChild" ng-options="child for child in children" ng-change="populatePassengerCombos()">
                                </select>
                            </div>
                        </div>

                        <!--                        Infants-->
<!--                        <passenger-combo label="Infants (0-1)" ng-model="selectedInfant" items="infants"></passenger-combo>-->
                        
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Infants (0-1)</label>
                                <select class="form-control" ng-model="selectedInfant" ng-options="infant for infant in infants" ng-change="populatePassengerCombos()">
                                </select>
                            </div>
                        </div>

                    </div>
                

                    <div class="row">

                        <!--                        Submit Button-->
                        <div class="col-md-2 pull-right">
                            <div class="form-group">

                            <a ui-sref="spinnerTest"><button type="button" class="btn btn-danger" style="width:100%;" ng-click="delete()">Search</button></a>

                                <!-- <a ui-sref="results({flightType: flightType, from: selectedAirportDep.iata, to: selectedAirportRet.iata, depDate: depDate, arrDate: arrDate, class: class, adults: selectedAdult, children: children, infants: infants})">
                                    <button type="button" ng-disabled="form.$invalid" class="btn btn-danger" style="width:100%;" ng-click="delete()">Search</button>

                                </a> -->
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>