<div class="col-md-3">
    <div class="form-group">
        <label>{{label}}</label>
        <select class="form-control" ng-model="ngModel" ng-options="item for item in items">
        </select>
    </div>
</div>