<div class="row">

  <div class="form-group">

    <!--                            One way Radio-->
    <div class="col-md-6" ng-controller="JourneyTypeCtrl">
      <label class="radio-inline">
        <input type="radio" value="one way" ng-model="flightType">One way</label>

      <!--                                Return Radio-->
      <label class="radio-inline">
        <input type="radio" value="return" checked="checked" ng-model="flightType">Return</label>
    </div>
  </div>

</div>
